# Tune configuration parameters for TMBF

# For backwards compatibility (alas, this file is read by CS-DI-IOC-09 as well
# as TMBF setup) the tunes are in multiples of 1e-4.

X_tune_SR = 2050
Y_tune_SR = 3630

X_tune_SRI13 = 2300
Y_tune_SRI13 = 1800

X_tune_SRLE3ps = 3892
Y_tune_SRLE3ps = 2847

X_tune_SRLEm3ps = 3892
Y_tune_SRLEm3ps = 2847

X_tune_SRLETHz = 3892
Y_tune_SRLETHz = 2847

X_tune_SRI0913 = 2100
Y_tune_SRI0913 = 3640


# Other setting overrides can go here.  See opi/scripts/setup_defaults.py in the
# TMBF sources for a list of overridable values.
