# Tune configuration parameters for TMBF
#
# Note that the tune numbers are in multiples of 1e4.
#
# This file will be parsed as a Python script by the TMBF setup_tunemeasurement
# configuration script.  Globals in that script can be overridden by settings
# below.

X_tune_SR = 2050
Y_tune_SR = 3630

X_tune_SRI13 = 2300
Y_tune_SRI13 = 1800

X_tune_SRLE3ps = 3892
Y_tune_SRLE3ps = 2847

X_tune_SRLEm3ps = 3892
Y_tune_SRLEm3ps = 2847

X_tune_SRLETHz = 3892
Y_tune_SRLETHz = 2847

X_tune_SRI0913 = 2040
Y_tune_SRI0913 = 3650
